<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.interoberlin.lymbo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".controller.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.interoberlin.mate.lib.view.LogActivity"
            android:label="@string/log"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.interoberlin.mate.lib.view.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".view.activities.LymbosActivity"
            android:label="@string/lymbos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.CardsActivity"
            android:label="@string/cards"
            android:parentActivityName=".view.activities.LymbosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.LymbosStashActivity"
            android:label="@string/lymbos_stash"
            android:parentActivityName=".view.activities.LymbosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.CardsStashActivity"
            android:label="@string/cards_stash"
            android:parentActivityName=".view.activities.CardsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
